@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
:root {
	--clr: #ff9800;
}

body {
	background-color: #1c1f20;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

img {
	width: 100%;
	display: inline-block;
}
