@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr: #fff;
}

body {
	background-color: #0d0d0d;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

img {
	width: 100%;
	display: inline-block;
}

.text {
	color: var(--clr);
}
